
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: 'Arial', sans-serif;
}
 * {
     box-sizing: border-box;
 }

 /* Header ===
 ======================*/
.header{
    background:url(./img/header.png) no-repeat center;
    background-size:cover;
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
    flex-direction: column;

}
.header__inner{
    margin-top: 41px;
    width: 931px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner__link{
    display: inline-block;
      
}
.header__inner__link a{
    margin-left: 42px;
    
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.header__inner__link a:hover{
    color: blue;
}
.header__subtitle{
    margin-top: 196px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
}
.header__title{
    margin-top: 27px;

    font-size: 75px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.header__btn{
    margin-top: 34px;

    width: 240px;
    height: 65px;

    background-color: #fed136;

    border-radius: 5px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #484543;
}
/* Header ===
 ======================*/

 /* Services===
 ======================= */
 .services{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .services__title{
    padding-top:98px;

    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #222222;
 }
 .services__subtitle{
    /* padding-top: ; */
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #777777;
 }
 .services__main{
    margin: 77px 0 181px 0;
    width: 931px;

    display: flex;
    outline: 1px solid red;
    justify-content: space-between;
 }
 .services__item{
    width: 250px;
     /* width: 33.33333%; */
    text-align: center;
 }
 .services__item__title{
    padding-top: 24px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #222222;
    
 }
 .services__item__text{
    padding-top: 18px;

    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #777777;
 }