
/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family: 'Arial', sans-serif;
    
}
 * {
     box-sizing: border-box;
 }

 /* Header ===
 ======================*/
.header{
    background:url(./img/header.png) no-repeat center;
    background-size:cover;
    width: 100%;
    height: 700px;

    display: flex;
    align-items: center;
    flex-direction: column;

}
.header__inner{
    margin-top: 41px;
    width: 931px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    display: inline-block;
      
}
.nav__link a{
    margin-left: 42px;
    
    text-decoration: none;
    font-size: 14px;
    line-height: 41px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.nav__link a:hover{
    color: blue;
}
.header__subtitle{
    margin-top: 196px;

    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
}
.header__title{
    margin-top: 27px;

    font-size: 75px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #ffffff;
}

.btn{
    margin-top: 34px;

    width: 240px;
    height: 65px;

    background-color: #fed136;

    border-radius: 5px;

    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #484543;
}


 /* Services===
 ======================= */
 .services{
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
 }
 .services__title{
    padding-top:98px;

    font-size: 40px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #222222;
 }
 .services__subtitle{
    /* padding-top: ; */
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #777777;
 }
 .services__main{
    margin: 77px 0 118px 0;
    width: 931px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .main-services__item{
    width: 250px;
    /* width: 33.33333%; */
    text-align: center;
 }
 .main-services__title{
    padding-top: 24px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #222222;
    
 }
 .main-services__text{
    
    margin-top: 10px;
    line-height: 1.5;

    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #777777;
 }
 
 /* portfolio ===
 =========================*/
 .portfolio{
     width: 100%;
     text-align: center;
     background-color: #f7f7f7;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 .portfolio__title{
    padding: 119px 0 20px 0;

    font-size: 40px;
    /* line-height: 75px; */
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #222222;
 }
 .portfolio__subtitle{
    font-size: 16px;
    /* line-height: 1.2; */
    font-weight: 400;
    color: #777777;
 }
 
.portfolio__body{
    margin: 75px 0 134px 0;
    
    max-width: 931px;
    
    display: flex;
    
}
.indent:first-child{
    margin-left: 30px; /*обращаемся к последнему классу и делаем ему отступ*/
}
.portfolio__oval{
    width: 34px;
    height: 11px;
    border: 10px solid #00ff00;
    border-radius: 50px/50px;
 }
 
 /* relaxation ===
 ========================== */

.relaxation{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.relaxation__title{
    padding: 124px 0 16px 0;

    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #222222;
}
.relaxation__text{
    font-size: 16px;
    font-weight: 400;
    color: #777777;
}
.relaxation__body{
    
    margin: 77px 0 112px 0;
}
.body-relaxation__item{
    width: 824px;
    display: flex;
    margin-bottom: 88px;
    
}
.body-relaxation__inner{
    width: 283px;
        
}
.body-relaxation__item_reverse{
    flex-direction:row-reverse;
    
}
.body-relaxation__inner_left{
    margin-left: 38px;
}
.body-relaxation__inner_right{
    margin-right: 38px;
}
.body-relaxation__title{
    text-align: right;

    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    color: #222222;
}
.body-relaxation__text{
    padding-top: 12px;

    text-align: right;

    height: 135px;

    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #777777;

}
.body-relaxation__title_left{
    text-align: left;
}
.body-relaxation__text_left{
    text-align: left;
}
.footer{
    padding-top:20px ;
    text-align: center;

    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #555555; 
}


@media (max-width: 1150px){
    .services__main{
        width: 700px;
    }

    .services__item{
        width: 350px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .services__item__text{
        width: 250px;
        
        text-align: center;
    }
}